# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge

# Loading Dataset

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/chiraggarg95/Assignment-Datasets/main/question1.csv')
df

       X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
..    ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03

[768 rows x 10 columns]

# Preprocessing

In [3]:
df = df.dropna().drop_duplicates()

In [4]:
rename_col = {
    'X1': 'rel_comp',
    'X2': 'surf_ar', 
    'X3': 'wall_ar',
    'X4': 'roof_ar',
    'X5': 'overall_ht',
    'X6': 'orientation',
    'X7': 'glaz_ar',
    'X8': 'glaz_ar_dist',
    'Y1': 'heat_load',
    'Y2': 'cool_load',
}
df = df.rename(columns=rename_col)
df

     rel_comp  surf_ar  wall_ar  ...  glaz_ar_dist  heat_load  cool_load
0        0.98    514.5    294.0  ...             0      15.55      21.33
1        0.98    514.5    294.0  ...             0      15.55      21.33
2        0.98    514.5    294.0  ...             0      15.55      21.33
3        0.98    514.5    294.0  ...             0      15.55      21.33
4        0.90    563.5    318.5  ...             0      20.84      28.28
..        ...      ...      ...  ...           ...        ...        ...
763      0.64    784.0    343.0  ...             5      17.88      21.40
764      0.62    808.5    367.5  ...             5      16.54      16.88
765      0.62    808.5    367.5  ...             5      16.44      17.11
766      0.62    808.5    367.5  ...             5      16.48      16.61
767      0.62    808.5    367.5  ...             5      16.64      16.03

[768 rows x 10 columns]

In [5]:
df.shape

(768, 10)

# Linear Regression

In [6]:
X = df[[ 'rel_comp', 'surf_ar',  'wall_ar', 'roof_ar', 'overall_ht', 'orientation', 'glaz_ar', 'glaz_ar_dist']]
Y = df[[ 'heat_load', 'cool_load']]

In [7]:
def linear_reg_model(data_x, data_y, split=0.1):
    
    x_train, x_test, y_train, y_test = train_test_split(data_x, data_y, test_size=split)

    lin_reg = linear_model.LinearRegression()
    lin_reg.fit(x_train, y_train)

    print("Train-test split: " + str(int(100-split*100)) + ":" + str(int(100*split)))
    print()

    print("Co-efficients of the trained model are: ")
    print(lin_reg.coef_)
    print()

    print("Intercepts of the trained model are: ")
    print(lin_reg.intercept_)
    print()

    y_pred_test = lin_reg.predict(x_test)
    y_pred_test_df = pd.DataFrame(y_pred_test, columns=["heat_load_predicted", "cool_load_predicted"])

    y_pred_train = lin_reg.predict(x_train)

    mse_y1, mse_y2 = mean_squared_error(y_train, y_pred_train, multioutput='raw_values')

    print("Mean Squared Error: ")
    print("Y1: " + str(mse_y1))
    print("Y2: " + str(mse_y2))
    print()

    r2_y1, r2_y2 = r2_score(y_train, y_pred_train, multioutput='raw_values')

    print("R^2 Value: ")
    print("Y1: " + str(r2_y1))
    print("Y2: " + str(r2_y2))
    print()

    return y_pred_test_df

## Train test split: 90:10

In [8]:
lin_reg_test_pred_df1 = linear_reg_model(X, Y, split=0.1)

Train-test split: 90:10

Co-efficients of the trained model are:
[[-5.32722634e+01  3.70527749e+12 -3.70527749e+12 -7.41055499e+12
   4.26329803e+00 -4.08451557e-02  2.04819283e+01  1.93005219e-01]
 [-5.95690894e+01  4.35928980e+12 -4.35928980e+12 -8.71857959e+12
   4.25809479e+00  1.35377049e-01  1.53648787e+01  2.65355706e-02]]

Intercepts of the trained model are:
[67.22426918 82.49136035]

Mean Squared Error:
Y1: 8.858422673067707
Y2: 10.35413432868862

R^2 Value:
Y1: 0.9144310024684233
Y2: 0.8872050542365737

In [9]:
lin_reg_test_pred_df1

    heat_load_predicted  cool_load_predicted
0             32.167461            33.096829
1             18.737617            19.975235
2              7.859188            12.724613
3             18.455318            19.257552
4             15.892452            18.036787
..                  ...                  ...
72            34.623027            36.024075
73            36.679022            37.824643
74             9.231724            13.318482
75            12.567488            16.082416
76            18.414473            19.392929

[77 rows x 2 columns]

## Train test split: 80:20

In [10]:
lin_reg_test_pred_df2 = linear_reg_model(X, Y, split=0.2)

Train-test split: 80:20

Co-efficients of the trained model are:
[[-6.44021179e+01 -2.99574847e+10  2.99574847e+10  5.99149693e+10
   4.40695345e+00  5.08542584e-02  1.96087829e+01  1.40058083e-01]
 [-7.15585434e+01 -4.04481172e+10  4.04481172e+10  8.08962345e+10
   4.43669266e+00  1.90172085e-01  1.46132365e+01  1.59638715e-02]]

Intercepts of the trained model are:
[80.82326242 96.62887571]

Mean Squared Error:
Y1: 8.284871062397274
Y2: 10.226265530268664

R^2 Value:
Y1: 0.9193009338696393
Y2: 0.8878778956114974

In [11]:
lin_reg_test_pred_df2

     heat_load_predicted  cool_load_predicted
0              15.922417            17.782858
1              15.386694            17.439447
2              14.207484            16.752187
3               8.083083            11.971908
4              34.777835            36.120361
..                   ...                  ...
149            28.805996            31.910598
150            11.024400            14.163894
151            10.358280            13.685349
152            32.583729            34.487589
153            36.270696            36.844210

[154 rows x 2 columns]

## Train test split: 70:30

In [12]:
lin_reg_test_pred_df3 = linear_reg_model(X, Y, split=0.3)

Train-test split: 70:30

Co-efficients of the trained model are:
[[-6.09054171e+01  3.68410057e+11 -3.68410057e+11 -7.36820114e+11
   4.10963058e+00 -1.27747439e-01  2.06913627e+01  2.38379978e-01]
 [-6.31684340e+01  3.40489829e+11 -3.40489829e+11 -6.80979659e+11
   4.33591652e+00  7.78336897e-02  1.47997296e+01  4.15562987e-02]]

Intercepts of the trained model are:
[78.3339851  84.30745694]

Mean Squared Error:
Y1: 8.880429826536943
Y2: 9.874768033105987

R^2 Value:
Y1: 0.9103705467364389
Y2: 0.8869740043679736

In [13]:
lin_reg_test_pred_df3

     heat_load_predicted  cool_load_predicted
0              26.080948            29.421524
1              31.556986            32.042883
2              30.159225            31.962645
3              15.010470            17.065664
4              18.435547            19.759401
..                   ...                  ...
226            25.111198            27.561408
227            33.905790            35.507397
228             9.205760            13.449509
229            31.539872            32.240106
230            14.577429            16.878791

[231 rows x 2 columns]

## Train test split: 60:40

In [14]:
lin_reg_test_pred_df4 = linear_reg_model(X, Y, split=0.4)

Train-test split: 60:40

Co-efficients of the trained model are:
[[-6.84729389e+01 -1.35080155e+12  1.35080155e+12  2.70160310e+12
   3.99604607e+00 -7.88705051e-02  1.96543722e+01  2.20603406e-01]
 [-7.53811351e+01  1.05930136e+11 -1.05930136e+11 -2.11860272e+11
   4.09839880e+00  5.77460192e-02  1.47746351e+01  6.21408671e-02]]

Intercepts of the trained model are:
[ 92.2746087  106.89433152]

Mean Squared Error:
Y1: 8.814671748359249
Y2: 10.20354654988672

R^2 Value:
Y1: 0.9096583771195581
Y2: 0.8842478844620024

In [15]:
lin_reg_test_pred_df4

     heat_load_predicted  cool_load_predicted
0              29.535002            32.461124
1              14.193344            16.821999
2              26.742579            29.656566
3              13.610404            16.577830
4              29.613872            32.403378
..                   ...                  ...
303            31.170295            33.441092
304            18.900559            19.757776
305             8.234170            12.211975
306            27.144366            30.624000
307            15.159878            17.652537

[308 rows x 2 columns]

# Ridge Regression

In [16]:
def ridge_reg_model(data_x, data_y, split=0.1, alpha=0.001):
    
    x_train, x_test, y_train, y_test = train_test_split(data_x, data_y, test_size=split)

    rdg_reg = Ridge(alpha=alpha)
    rdg_reg.fit(x_train, y_train)

    print("Train-test split: " + str(int(100-split*100)) + ":" + str(int(100*split)))
    print()

    print("alpha: " + str(alpha))
    print()

    print("Co-efficients of the trained model are: ")
    print(rdg_reg.coef_)
    print()

    print("Intercepts of the trained model are: ")
    print(rdg_reg.intercept_)
    print()

    y_pred_test = rdg_reg.predict(x_test)
    y_pred_test_df = pd.DataFrame(y_pred_test, columns=["heat_load_predicted", "cool_load_predicted"])

    y_pred_train = rdg_reg.predict(x_train)

    mse_y1, mse_y2 = mean_squared_error(y_train, y_pred_train, multioutput='raw_values')

    print("Mean Squared Error: ")
    print("Y1: " + str(mse_y1))
    print("Y2: " + str(mse_y2))
    print()

    r2_y1, r2_y2 = r2_score(y_train, y_pred_train, multioutput='raw_values')

    print("R^2 Value: ")
    print("Y1: " + str(r2_y1))
    print("Y2: " + str(r2_y2))
    print()

    return y_pred_test_df

## Train test split: 90:10

In [17]:
for alp in [0.001, 0.005, 0.01, 0.05, 0.1, 0.5]:
    rdg_reg_test_pred_df1 = ridge_reg_model(X, Y, split=0.1, alpha=alp)
    display(rdg_reg_test_pred_df1.head(5))
    print("-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")

Train-test split: 90:10

alpha: 0.001

Co-efficients of the trained model are:
[[-6.26893233e+01 -5.81621630e-02  3.45676629e-02 -4.63644475e-02
   4.35311097e+00  9.51817909e-03  1.97988867e+01  2.11803306e-01]
 [-6.90303777e+01 -6.14923068e-02  2.01895251e-02 -4.08404632e-02
   4.52816628e+00  1.25110529e-01  1.45845700e+01  3.82686911e-02]]

Intercepts of the trained model are:
[78.3698683  91.76168479]

Mean Squared Error:
Y1: 8.355809736519745
Y2: 10.107185315726127

R^2 Value:
Y1: 0.9185998488694129
Y2: 0.8900208612861258

   heat_load_predicted  cool_load_predicted
0            33.652004            35.471528
1            24.105349            28.242751
2            32.650795            34.066275
3            13.924328            16.445763
4            18.535446            19.666155

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 90:10

alpha: 0.005

Co-efficients of the trained model are:
[[-6.15409140e+01 -5.89247735e-02  3.63230601e-02 -4.76240460e-02
   4.20584727e+00  4.64539850e-02  2.01130626e+01  2.27680196e-01]
 [-6.69104846e+01 -6.14028320e-02  2.22550090e-02 -4.18290843e-02
   4.35681913e+00  1.98281807e-01  1.48097019e+01  4.45429112e-02]]

Intercepts of the trained model are:
[78.12353139 90.07166756]

Mean Squared Error:
Y1: 8.592743306264241
Y2: 10.09157244540246

R^2 Value:
Y1: 0.9155118522555546
Y2: 0.8882342290012769

   heat_load_predicted  cool_load_predicted
0            27.133281            30.032267
1            34.124375            34.851631
2            15.115619            17.397341
3            11.240357            14.950536
4            29.975783            31.835602

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 90:10

alpha: 0.01

Co-efficients of the trained model are:
[[-5.75052895e+01 -5.45497651e-02  3.56916199e-02 -4.51207057e-02
   4.31385265e+00 -2.38631316e-02  1.96874676e+01  1.48678586e-01]
 [-6.20857173e+01 -5.67796476e-02  2.29318413e-02 -3.98557620e-02
   4.38964296e+00  1.70975389e-01  1.45136847e+01 -5.90778873e-03]]

Intercepts of the trained model are:
[71.96221445 82.92324429]

Mean Squared Error:
Y1: 7.844909059560854
Y2: 9.510027146618544

R^2 Value:
Y1: 0.9235736679715915
Y2: 0.8950439106185029

   heat_load_predicted  cool_load_predicted
0             8.099355            12.004335
1            35.864582            36.570919
2            25.576254            28.059024
3            37.028943            37.527293
4            31.350971            33.372381

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 90:10

alpha: 0.05

Co-efficients of the trained model are:
[[-3.64679733e+01 -2.53679998e-02  3.39137178e-02 -2.96408632e-02
   4.84830607e+00 -2.39452147e-02  2.00888198e+01  2.57244712e-01]
 [-3.91200106e+01 -2.35586241e-02  1.93063061e-02 -2.14324685e-02
   5.12409228e+00  1.11064886e-01  1.46754054e+01  1.07696499e-01]]

Intercepts of the trained model are:
[30.89399115 36.98821504]

Mean Squared Error:
Y1: 8.517331797578139
Y2: 10.239377422201368

R^2 Value:
Y1: 0.9166707801397891
Y2: 0.8874462048620498

   heat_load_predicted  cool_load_predicted
0            27.042436            30.860959
1            32.620955            34.416477
2            19.381853            20.627703
3            35.335209            36.838817
4            12.811312            15.315582

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 90:10

alpha: 0.1

Co-efficients of the trained model are:
[[-2.64733531e+01 -1.33812756e-02  3.25411118e-02 -2.29611826e-02
   5.08995976e+00  3.21347657e-02  1.92886452e+01  1.80710267e-01]
 [-2.93678442e+01 -1.36204705e-02  1.94080176e-02 -1.65142342e-02
   5.21851499e+00  1.68317187e-01  1.42187362e+01  3.12308757e-02]]

Intercepts of the trained model are:
[13.37807319 21.53550782]

Mean Squared Error:
Y1: 8.36572942236919
Y2: 10.328937049094765

R^2 Value:
Y1: 0.9183558274534671
Y2: 0.8870291917859742

   heat_load_predicted  cool_load_predicted
0            15.021272            17.769503
1            33.940573            34.634295
2            27.973269            30.337444
3            17.393547            18.930220
4             7.687282            11.659008

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 90:10

alpha: 0.5

Co-efficients of the trained model are:
[[-8.37476598e+00  9.68063945e-03  3.26776336e-02 -1.14984972e-02
   5.44763803e+00 -1.67373786e-02  1.91856181e+01  2.00806347e-01]
 [-8.96984531e+00  1.31321919e-02  1.80367716e-02 -2.45229008e-03
   5.72138344e+00  1.07196249e-01  1.41418267e+01  1.50695939e-02]]

Intercepts of the trained model are:
[-19.76495273 -16.40118628]

Mean Squared Error:
Y1: 9.121401884396882
Y2: 10.508124889384186

R^2 Value:
Y1: 0.9106920794077602
Y2: 0.8846815573905026

   heat_load_predicted  cool_load_predicted
0            15.938048            17.864066
1            28.434844            31.379632
2             8.105093            11.576856
3            25.550603            28.397849
4             7.469199            11.746040

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Train test split: 80:20

In [18]:
for alp in [0.001, 0.005, 0.01, 0.05, 0.1, 0.5]:
    rdg_reg_test_pred_df1 = ridge_reg_model(X, Y, split=0.2, alpha=alp)
    display(rdg_reg_test_pred_df1.head(5))
    print("-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")

Train-test split: 80:20

alpha: 0.001

Co-efficients of the trained model are:
[[-6.17049153e+01 -5.95737795e-02  3.61799184e-02 -4.78771177e-02
   4.17025951e+00  1.88119989e-02  1.96017718e+01  2.67825401e-01]
 [-6.61059453e+01 -6.02314639e-02  2.16403955e-02 -4.09362596e-02
   4.37490495e+00  1.50731837e-01  1.43384993e+01  7.98415035e-02]]

Intercepts of the trained model are:
[79.0935027  88.85123299]

Mean Squared Error:
Y1: 8.46659839909837
Y2: 9.809239233637731

R^2 Value:
Y1: 0.9163380623373416
Y2: 0.8903273935106049

   heat_load_predicted  cool_load_predicted
0            32.491868            34.787421
1            25.610151            27.757118
2             9.584236            13.515667
3             8.592875            12.708543
4            12.271805            15.222131

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 80:20

alpha: 0.005

Co-efficients of the trained model are:
[[-5.74904849e+01 -5.28082635e-02  3.46770902e-02 -4.37426876e-02
   4.37324585e+00  2.46384931e-03  1.94078218e+01  2.18916097e-01]
 [-6.23058512e+01 -5.72052192e-02  2.41366503e-02 -4.06709528e-02
   4.27189582e+00  1.37615325e-01  1.39471141e+01  6.55044320e-02]]

Intercepts of the trained model are:
[70.29862179 83.73105848]

Mean Squared Error:
Y1: 8.803285821533555
Y2: 9.66720012809214

R^2 Value:
Y1: 0.9145033066301856
Y2: 0.8916891784033328

   heat_load_predicted  cool_load_predicted
0            10.279662            13.915736
1            13.190271            15.912111
2            30.137084            31.759320
3            30.181815            32.269613
4            15.663612            17.873169

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 80:20

alpha: 0.01

Co-efficients of the trained model are:
[[-6.13123309e+01 -5.82422581e-02  3.56913771e-02 -4.69667625e-02
   4.23730350e+00  4.57258569e-02  1.98030612e+01  2.22518303e-01]
 [-6.59753633e+01 -6.32530824e-02  2.40863276e-02 -4.36696481e-02
   4.12528506e+00  1.91237931e-01  1.41063759e+01  6.05848414e-02]]

Intercepts of the trained model are:
[77.44557372 91.55565746]

Mean Squared Error:
Y1: 8.441570134278113
Y2: 9.59013394689047

R^2 Value:
Y1: 0.9148013112670624
Y2: 0.8893275627830581

   heat_load_predicted  cool_load_predicted
0            16.226021            17.957589
1            17.626462            19.293117
2            33.993165            35.501724
3            11.770884            14.548075
4            34.278452            35.227924

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 80:20

alpha: 0.05

Co-efficients of the trained model are:
[[-3.79181733e+01 -3.06897985e-02  3.62916604e-02 -3.34907341e-02
   4.59498641e+00 -3.54161906e-02  1.99687205e+01  2.06179833e-01]
 [-4.00485065e+01 -2.96675758e-02  2.21172542e-02 -2.58924210e-02
   4.79612599e+00  9.62238501e-02  1.49065957e+01  3.76254249e-02]]

Intercepts of the trained model are:
[36.90998988 43.47272389]

Mean Squared Error:
Y1: 8.78715376856848
Y2: 10.290990838497613

R^2 Value:
Y1: 0.9123681721657134
Y2: 0.8853100153796741

   heat_load_predicted  cool_load_predicted
0            39.091479            39.216366
1            12.648922            15.871072
2            35.765581            36.787108
3            26.640021            29.844074
4            12.236505            15.137888

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 80:20

alpha: 0.1

Co-efficients of the trained model are:
[[-2.51226485e+01 -1.09802479e-02  3.40509258e-02 -2.25155852e-02
   5.11352763e+00 -1.42192255e-02  1.99992827e+01  2.33457180e-01]
 [-2.74467624e+01 -9.40903550e-03  2.06745637e-02 -1.50417992e-02
   5.31147976e+00  1.57577849e-01  1.49792472e+01  4.31972398e-02]]

Intercepts of the trained model are:
[ 9.93016374 15.94753203]

Mean Squared Error:
Y1: 8.726772895466876
Y2: 10.654542971095228

R^2 Value:
Y1: 0.913970515765221
Y2: 0.8820947694256841

   heat_load_predicted  cool_load_predicted
0             9.907091            13.344884
1            10.880309            14.667432
2            35.457955            36.681675
3            16.580501            18.541836
4            15.029990            17.529648

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 80:20

alpha: 0.5

Co-efficients of the trained model are:
[[-7.10258870e+00  1.24861955e-02  3.11629922e-02 -9.33840080e-03
   5.55627295e+00 -7.04999815e-03  1.88279268e+01  2.05984850e-01]
 [-7.59870225e+00  1.59652516e-02  1.82366316e-02 -1.13569222e-03
   5.77476502e+00  1.28729360e-01  1.37900167e+01  6.77461900e-02]]

Intercepts of the trained model are:
[-23.05162915 -20.07975469]

Mean Squared Error:
Y1: 8.81329231472355
Y2: 10.606467380287862

R^2 Value:
Y1: 0.9125065666034652
Y2: 0.8823437260526781

   heat_load_predicted  cool_load_predicted
0            10.570443            13.972990
1            18.602596            19.963435
2            11.455056            14.645946
3            19.821103            20.824626
4            26.190422            30.047719

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Train test split: 70:30

In [19]:
for alp in [0.001, 0.005, 0.01, 0.05, 0.1, 0.5]:
    rdg_reg_test_pred_df1 = ridge_reg_model(X, Y, split=0.3, alpha=alp)
    display(rdg_reg_test_pred_df1.head(5))
    print("-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")

Train-test split: 70:30

alpha: 0.001

Co-efficients of the trained model are:
[[-5.64559337e+01 -5.77962483e-02  4.18283568e-02 -4.98119622e-02
   3.83866391e+00 -9.29034737e-02  2.00370822e+01  1.50336031e-01]
 [-6.38034580e+01 -5.95708845e-02  2.62294556e-02 -4.28997316e-02
   4.18084807e+00  7.46987415e-02  1.53442601e+01 -8.25610228e-04]]

Intercepts of the trained model are:
[74.69060628 86.79717638]

Mean Squared Error:
Y1: 7.709519774845165
Y2: 10.380798512077039

R^2 Value:
Y1: 0.9217460667730375
Y2: 0.8839977404985234

   heat_load_predicted  cool_load_predicted
0            30.805488            33.438140
1            29.044958            32.159867
2            15.303982            17.774173
3            18.935027            20.396770
4            18.325496            19.714295

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 70:30

alpha: 0.005

Co-efficients of the trained model are:
[[-5.94939876e+01 -5.64333621e-02  3.75068106e-02 -4.69701389e-02
   4.24575374e+00  6.11676734e-02  1.99853545e+01  2.92375176e-01]
 [-6.13405250e+01 -5.53409576e-02  2.40230536e-02 -3.96820624e-02
   4.37779112e+00  2.74342297e-01  1.54175257e+01  1.57680023e-01]]

Intercepts of the trained model are:
[73.989113   79.94346026]

Mean Squared Error:
Y1: 8.152086419839815
Y2: 9.702197342799655

R^2 Value:
Y1: 0.919114264082803
Y2: 0.8914259932912948

   heat_load_predicted  cool_load_predicted
0            14.631816            17.494268
1             9.281934            13.207864
2            11.353177            14.628068
3            36.625586            37.889478
4             7.234636            11.675415

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 70:30

alpha: 0.01

Co-efficients of the trained model are:
[[-5.30797553e+01 -4.72630742e-02  3.43389543e-02 -4.08010570e-02
   4.52284592e+00  9.08374776e-02  1.88569674e+01  2.32199937e-01]
 [-5.54362573e+01 -4.22972784e-02  1.59658538e-02 -2.91316037e-02
   5.03951046e+00  3.07234575e-01  1.42982376e+01  5.55271501e-02]]

Intercepts of the trained model are:
[61.81951913 64.50644195]

Mean Squared Error:
Y1: 8.248680240423989
Y2: 9.821676956886645

R^2 Value:
Y1: 0.9194025584787974
Y2: 0.8933187492770123

   heat_load_predicted  cool_load_predicted
0            16.708360            18.790148
1             8.310049            12.419424
2            34.547347            36.335795
3            31.632535            34.289139
4            35.500061            36.991001

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 70:30

alpha: 0.05

Co-efficients of the trained model are:
[[-3.76548648e+01 -2.63444371e-02  3.31245377e-02 -2.97344803e-02
   4.83842842e+00 -5.06552529e-02  2.00528699e+01  2.36617707e-01]
 [-3.80238887e+01 -2.43585839e-02  2.15736423e-02 -2.29661048e-02
   4.90626588e+00  6.67593200e-02  1.54204208e+01  9.34604689e-02]]

Intercepts of the trained model are:
[32.83618312 37.27447394]

Mean Squared Error:
Y1: 8.89576108696727
Y2: 10.015355604809612

R^2 Value:
Y1: 0.9115751959828639
Y2: 0.8864890464964872

   heat_load_predicted  cool_load_predicted
0            29.730355            32.109488
1            30.867981            33.296664
2            11.200580            14.249480
3            27.914815            29.938253
4            36.808221            37.368495

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 70:30

alpha: 0.1

Co-efficients of the trained model are:
[[-2.11324573e+01 -7.93950579e-03  3.37818301e-02 -2.08606635e-02
   5.07981407e+00 -5.69060154e-02  1.98992088e+01  2.68948123e-01]
 [-2.61211459e+01 -1.17446862e-02  2.22665418e-02 -1.70056099e-02
   5.06683638e+00  1.39266759e-01  1.51042298e+01  1.06805652e-01]]

Intercepts of the trained model are:
[ 4.76586863 17.31766789]

Mean Squared Error:
Y1: 8.48604419484671
Y2: 10.405033997536012

R^2 Value:
Y1: 0.9185059250239
Y2: 0.8869971740210523

   heat_load_predicted  cool_load_predicted
0            29.196866            30.822073
1            17.478424            19.398955
2            14.550449            16.994053
3            28.503833            30.223122
4            31.054169            33.450634

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 70:30

alpha: 0.5

Co-efficients of the trained model are:
[[-6.20096011e+00  7.31563849e-03  3.67216507e-02 -1.47030055e-02
   5.10602573e+00 -4.29209190e-02  1.86932217e+01  2.34896153e-01]
 [-6.74791902e+00  1.08327315e-02  2.36317617e-02 -6.39951453e-03
   5.30263658e+00  1.15613122e-01  1.35013526e+01  6.90795721e-02]]

Intercepts of the trained model are:
[-18.64145722 -15.49140015]

Mean Squared Error:
Y1: 9.278642083780564
Y2: 10.769848818800323

R^2 Value:
Y1: 0.9076117923233443
Y2: 0.8785111401975904

   heat_load_predicted  cool_load_predicted
0            15.278486            18.028185
1            29.440834            32.107371
2            30.145523            32.314610
3            32.459600            34.522258
4            26.408085            28.733940

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Train test split: 60:40

In [20]:
for alp in [0.001, 0.005, 0.01, 0.05, 0.1, 0.5]:
    rdg_reg_test_pred_df1 = ridge_reg_model(X, Y, split=0.4, alpha=alp)
    display(rdg_reg_test_pred_df1.head(5))
    print("-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")

Train-test split: 60:40

alpha: 0.001

Co-efficients of the trained model are:
[[-5.25179180e+01 -4.86263050e-02  3.70506197e-02 -4.28387186e-02
   4.26865660e+00 -4.07642187e-02  1.98530569e+01  2.84329014e-01]
 [-6.11010964e+01 -5.44410520e-02  2.36031254e-02 -3.90223543e-02
   4.33391430e+00  8.55109531e-02  1.35639095e+01  7.46939705e-02]]

Intercepts of the trained model are:
[63.06401718 80.68067764]

Mean Squared Error:
Y1: 8.092152716013851
Y2: 9.737324952702398

R^2 Value:
Y1: 0.9176030119145552
Y2: 0.8862186244814327

   heat_load_predicted  cool_load_predicted
0             8.561675            13.515396
1            28.559204            31.348554
2            14.093597            17.055762
3            32.544767            34.385951
4            34.030255            34.227993

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 60:40

alpha: 0.005

Co-efficients of the trained model are:
[[-5.66595461e+01 -5.17937401e-02  3.35443686e-02 -4.26691170e-02
   4.44753345e+00 -1.10471919e-01  1.97635380e+01  2.26481242e-01]
 [-6.16417742e+01 -5.45698490e-02  2.08580156e-02 -3.77139774e-02
   4.49484688e+00  9.55468081e-03  1.50747689e+01  1.45442247e-02]]

Intercepts of the trained model are:
[69.07880839 81.18895943]

Mean Squared Error:
Y1: 8.29311921200591
Y2: 9.51344456078568

R^2 Value:
Y1: 0.9155778140960736
Y2: 0.8900780324987194

   heat_load_predicted  cool_load_predicted
0            29.460785            31.987747
1            15.040217            16.979421
2            35.828681            36.883342
3            18.470986            19.996250
4            10.370047            13.665804

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 60:40

alpha: 0.01

Co-efficients of the trained model are:
[[-4.59090734e+01 -4.53749970e-02  4.03053855e-02 -4.28402121e-02
   4.03097561e+00 -7.44018578e-02  2.04517771e+01  1.77888574e-01]
 [-4.99909844e+01 -4.45683646e-02  2.68748962e-02 -3.57216631e-02
   4.23355685e+00  1.68684352e-01  1.52147446e+01  7.75501938e-03]]

Intercepts of the trained model are:
[56.3276274  63.98429115]

Mean Squared Error:
Y1: 8.392884004350483
Y2: 9.833112437855883

R^2 Value:
Y1: 0.9187651318356279
Y2: 0.8901547191522544

   heat_load_predicted  cool_load_predicted
0             8.045868            12.161713
1            12.726956            15.640303
2            10.503890            14.111073
3            15.360066            17.961061
4            26.364467            28.952987

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 60:40

alpha: 0.05

Co-efficients of the trained model are:
[[-3.54957993e+01 -1.68727634e-02  2.78354266e-02 -2.23541090e-02
   5.51019694e+00 -4.71575117e-02  1.94291111e+01  1.98503658e-01]
 [-3.69961849e+01 -1.84207406e-02  1.77047149e-02 -1.80627432e-02
   5.31696642e+00  1.06295402e-01  1.47090427e+01  3.73419367e-02]]

Intercepts of the trained model are:
[22.16205824 30.96578181]

Mean Squared Error:
Y1: 8.443801677466814
Y2: 9.405512498927047

R^2 Value:
Y1: 0.9182842184237994
Y2: 0.8932683787854093

   heat_load_predicted  cool_load_predicted
0            11.444793            14.937654
1            35.400218            36.150504
2            12.245703            15.366628
3            36.430985            36.955572
4            39.581741            39.570574

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 60:40

alpha: 0.1

Co-efficients of the trained model are:
[[-2.07036338e+01 -6.54952960e-04  2.80952160e-02 -1.43750871e-02
   5.60039090e+00  6.06444971e-02  1.93639179e+01  2.40156123e-01]
 [-2.20151438e+01  1.49184720e-03  1.51659780e-02 -6.83706829e-03
   5.78571418e+00  1.76784092e-01  1.43405684e+01  7.67169957e-02]]

Intercepts of the trained model are:
[-2.61722874  2.26434023]

Mean Squared Error:
Y1: 8.658783335349089
Y2: 10.0842036505821

R^2 Value:
Y1: 0.9148033177201028
Y2: 0.8888562290016163

   heat_load_predicted  cool_load_predicted
0            27.502208            30.710399
1            26.345780            30.334913
2            32.778534            34.611708
3            13.815899            16.028079
4            30.887108            33.014918

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 60:40

alpha: 0.5

Co-efficients of the trained model are:
[[-5.73405444e+00  1.15896113e-02  3.28991699e-02 -1.06547785e-02
   5.42877139e+00 -1.28324600e-01  1.87312575e+01  1.27959671e-01]
 [-6.23152779e+00  1.49915422e-02  1.86108544e-02 -1.80965499e-03
   5.66499740e+00  1.20934078e-01  1.37139985e+01 -3.97674013e-02]]

Intercepts of the trained model are:
[-22.52608479 -19.61824008]

Mean Squared Error:
Y1: 8.930618576798222
Y2: 9.851837839408802

R^2 Value:
Y1: 0.9111756644058593
Y2: 0.8887598941493068

   heat_load_predicted  cool_load_predicted
0            31.593840            33.402979
1            19.650501            20.514991
2            11.774119            15.148694
3            11.579873            14.966821
4            32.855836            34.413183

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Train test split: 90:10

# Lasso Regression

In [21]:
def lasso_reg_model(data_x, data_y, split=0.1, alpha=0.001):
    
    x_train, x_test, y_train, y_test = train_test_split(data_x, data_y, test_size=split)

    lasso_reg = linear_model.Lasso(alpha=alpha)
    lasso_reg.fit(x_train, y_train)

    print("Train-test split: " + str(int(100-split*100)) + ":" + str(int(100*split)))
    print()

    print("alpha: " + str(alpha))
    print()

    print("Co-efficients of the trained model are: ")
    print(lasso_reg.coef_)
    print()

    print("Intercepts of the trained model are: ")
    print(lasso_reg.intercept_)
    print()

    y_pred_test = lasso_reg.predict(x_test)
    y_pred_test_df = pd.DataFrame(y_pred_test, columns=["heat_load_predicted", "cool_load_predicted"])

    y_pred_train = lasso_reg.predict(x_train)

    mse_y1, mse_y2 = mean_squared_error(y_train, y_pred_train, multioutput='raw_values')

    print("Mean Squared Error: ")
    print("Y1: " + str(mse_y1))
    print("Y2: " + str(mse_y2))
    print()

    r2_y1, r2_y2 = r2_score(y_train, y_pred_train, multioutput='raw_values')

    print("R^2 Value: ")
    print("Y1: " + str(r2_y1))
    print("Y2: " + str(r2_y2))
    print()

    return y_pred_test_df

## Train test split: 90:10

In [22]:
for alp in [0.001, 0.005, 0.01, 0.05, 0.1, 0.5]:
    lasso_reg_test_pred_df1 = lasso_reg_model(X, Y, split=0.1, alpha=alp)
    display(lasso_reg_test_pred_df1.head(5))
    print("-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")

Train-test split: 90:10

alpha: 0.001

Co-efficients of the trained model are:
[[-5.47539855e+01 -6.63882265e-02  5.17776373e-02 -9.05946089e-03
   4.40659770e+00 -8.39887931e-02  2.00980228e+01  1.73025466e-01]
 [-6.16975530e+01 -7.02741868e-02  3.79196482e-02 -6.63474788e-03
   4.47494293e+00  5.13418404e-02  1.49946629e+01 -3.94905491e-03]]

Intercepts of the trained model are:
[65.79931854 80.82820417]

Mean Squared Error:
Y1: 8.570973662382773
Y2: 10.175321507813145

R^2 Value:
Y1: 0.9162351947112162
Y2: 0.8879372706330432

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 135.07727230585897, tolerance: 7.070442986512302
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 208.01349052005025, tolerance: 6.274295835571635
  positive)

   heat_load_predicted  cool_load_predicted
0            12.906430            15.899215
1            10.879601            14.300975
2            12.818605            15.488102
3            31.276004            32.141415
4            26.347592            29.693033

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 90:10

alpha: 0.005

Co-efficients of the trained model are:
[[-1.99215398e+01 -1.49745497e-02  4.24289839e-02 -7.64590057e-03
   4.97200550e+00 -1.42319111e-02  1.97661321e+01  2.18647198e-01]
 [-2.77046449e+01 -1.83005993e-02  2.74524587e-02 -4.94706094e-03
   5.13794500e+00  1.01034980e-01  1.47118373e+01  3.69696964e-02]]

Intercepts of the trained model are:
[ 4.09645114 19.29497   ]

Mean Squared Error:
Y1: 8.892708360385749
Y2: 10.78660737939906

R^2 Value:
Y1: 0.9131770640332544
Y2: 0.882188498456347

   heat_load_predicted  cool_load_predicted
0            25.081490            28.353680
1            12.427059            15.280497
2            34.081179            34.423263
3            12.651999            15.708862
4            14.811099            16.811066

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 90:10

alpha: 0.01

Co-efficients of the trained model are:
[[-0.00000000e+00  1.63181436e-02  3.60716919e-02 -6.19361573e-03
   5.40003000e+00 -3.20489465e-02  1.91003809e+01  2.29808129e-01]
 [-0.00000000e+00  2.38307041e-02  1.81114898e-02 -2.67953003e-03
   5.69434122e+00  1.13833087e-01  1.37397483e+01  6.26423792e-02]]

Intercepts of the trained model are:
[-32.43923025 -30.42775435]

Mean Squared Error:
Y1: 9.294168811723997
Y2: 10.946760793462463

R^2 Value:
Y1: 0.9090312439082859
Y2: 0.8793867678263876

   heat_load_predicted  cool_load_predicted
0            14.378068            16.630063
1            13.160031            16.063469
2            30.356476            32.639504
3            11.976676            14.865204
4            30.212747            32.345996

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 90:10

alpha: 0.05

Co-efficients of the trained model are:
[[-0.00000000e+00  8.86410586e-03  4.36801968e-02 -0.00000000e+00
   5.17175253e+00  0.00000000e+00  1.71216072e+01  2.42329899e-01]
 [-0.00000000e+00  1.86629803e-02  2.47380984e-02 -0.00000000e+00
   5.47170208e+00  1.47417730e-01  1.22173112e+01  8.15337266e-02]]

Intercepts of the trained model are:
[-29.39394404 -28.11755238]

Mean Squared Error:
Y1: 8.973247051321792
Y2: 10.828478725214291

R^2 Value:
Y1: 0.9119918471290072
Y2: 0.8809454890976091

   heat_load_predicted  cool_load_predicted
0            18.699249            19.739778
1            29.869787            32.319795
2            19.744254            21.016406
3            35.872123            36.574524
4            29.218275            30.653231

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 90:10

alpha: 0.1

Co-efficients of the trained model are:
[[-0.00000000e+00  2.67732620e-04  5.14711055e-02 -0.00000000e+00
   4.74133163e+00 -0.00000000e+00  1.41282522e+01  2.87254050e-01]
 [-0.00000000e+00  1.02544847e-02  3.16746911e-02 -0.00000000e+00
   5.05161112e+00  0.00000000e+00  9.00291208e+00  1.10527945e-01]]

Intercepts of the trained model are:
[-23.24785781 -21.30451802]

Mean Squared Error:
Y1: 9.648963012190062
Y2: 11.312747776057794

R^2 Value:
Y1: 0.9066498887489884
Y2: 0.8763991892825023

   heat_load_predicted  cool_load_predicted
0            27.199050            29.766399
1            16.456756            18.185540
2            16.744010            18.296068
3            31.180076            33.118861
4            17.724358            19.212805

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 90:10

alpha: 0.5

Co-efficients of the trained model are:
[[-0.         -0.03537668  0.08893246 -0.01683845  2.42730981  0.
   0.          0.2666441 ]
 [-0.         -0.02528622  0.06844763 -0.01295986  2.84476419  0.
   0.          0.02106165]]

Intercepts of the trained model are:
[7.28390462 7.11403399]

Mean Squared Error:
Y1: 16.650943796487915
Y2: 15.837878565015096

R^2 Value:
Y1: 0.8373748986576449
Y2: 0.8267875260505652

   heat_load_predicted  cool_load_predicted
0            12.744181            15.793415
1            36.384347            37.263528
2            12.477537            15.772353
3            16.413887            18.944717
4            16.168347            17.971509

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Train test split: 80:20

In [23]:
for alp in [0.001, 0.005, 0.01, 0.05, 0.1, 0.5]:
    lasso_reg_test_pred_df1 = lasso_reg_model(X, Y, split=0.2, alpha=alp)
    display(lasso_reg_test_pred_df1.head(5))
    print("-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")

Train-test split: 80:20

alpha: 0.001

Co-efficients of the trained model are:
[[-5.56876859e+01 -6.34252019e-02  4.81706534e-02 -9.29861441e-03
   4.62484057e+00  2.54503170e-02  2.02049987e+01  2.64007495e-01]
 [-6.48889431e+01 -7.00999322e-02  3.44317657e-02 -6.64653042e-03
   4.69414425e+00  1.86925991e-01  1.50545411e+01  6.76923880e-02]]

Intercepts of the trained model are:
[63.98623001 82.50432101]

Mean Squared Error:
Y1: 8.407633672509172
Y2: 10.09548182496669

R^2 Value:
Y1: 0.9168571936073946
Y2: 0.8878480677952088

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 149.32182010575252, tolerance: 6.208940134332247
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 298.7516803327344, tolerance: 5.526989788469056
  positive)

   heat_load_predicted  cool_load_predicted
0            18.281158            19.950615
1            35.038113            36.061030
2            34.233657            34.909196
3            32.058263            34.176701
4            13.172782            15.552002

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 80:20

alpha: 0.005

Co-efficients of the trained model are:
[[-1.36252822e+01 -1.97254836e-03  3.95311843e-02 -7.22792940e-03
   5.25504272e+00 -1.53532416e-02  1.98972132e+01  2.52072294e-01]
 [-2.09719052e+01 -8.19431568e-03  2.69807361e-02 -4.93319032e-03
   5.22520606e+00  1.42585715e-01  1.43596750e+01  4.93871943e-02]]

Intercepts of the trained model are:
[-10.17826478   6.94661888]

Mean Squared Error:
Y1: 9.316624027967514
Y2: 10.722186698635753

R^2 Value:
Y1: 0.9079768996374239
Y2: 0.8797291386919144

   heat_load_predicted  cool_load_predicted
0            32.958138            34.195911
1            35.500209            36.535092
2            25.229698            28.341354
3            33.271844            34.529303
4            12.587196            15.510449

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 80:20

alpha: 0.01

Co-efficients of the trained model are:
[[-0.00000000e+00  1.44149327e-02  3.70606746e-02 -6.46641102e-03
   5.27886606e+00  2.22053260e-02  1.93296665e+01  2.25831391e-01]
 [-0.00000000e+00  1.99626513e-02  2.22742187e-02 -3.55065120e-03
   5.41903335e+00  1.88055561e-01  1.36626352e+01  9.16182836e-02]]

Intercepts of the trained model are:
[-31.03424101 -27.93789128]

Mean Squared Error:
Y1: 8.965818444697726
Y2: 10.489245911122602

R^2 Value:
Y1: 0.910003013792902
Y2: 0.8805034136647718

   heat_load_predicted  cool_load_predicted
0            15.853629            18.070937
1            13.157805            15.925104
2            15.627797            17.979318
3            33.085297            34.531861
4            15.875834            18.258992

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 80:20

alpha: 0.05

Co-efficients of the trained model are:
[[-0.00000000e+00  8.76046714e-03  4.37775230e-02 -0.00000000e+00
   5.17302790e+00 -5.93056533e-03  1.71322514e+01  1.91936425e-01]
 [-0.00000000e+00  1.86632960e-02  2.44590144e-02 -0.00000000e+00
   5.45907917e+00  6.76107873e-02  1.20896197e+01  4.60318792e-02]]

Intercepts of the trained model are:
[-29.26522639 -27.67113661]

Mean Squared Error:
Y1: 9.180081187380702
Y2: 10.791650939391332

R^2 Value:
Y1: 0.907808868181737
Y2: 0.8781779189250567

   heat_load_predicted  cool_load_predicted
0            11.906197            14.928921
1             8.044655            11.759431
2             7.840857            11.848621
3            15.548963            17.656111
4            26.984867            28.909977

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 80:20

alpha: 0.1

Co-efficients of the trained model are:
[[-0.00000000e+00 -0.00000000e+00  5.12545195e-02 -6.79253119e-03
   4.55324911e+00 -0.00000000e+00  1.43775188e+01  2.35947548e-01]
 [-0.00000000e+00  5.83547579e-03  3.63836286e-02 -0.00000000e+00
   4.81248354e+00  6.42416322e-02  9.47415711e+00  8.07792368e-02]]

Intercepts of the trained model are:
[-20.73815963 -18.83634163]

Mean Squared Error:
Y1: 9.34275155844814
Y2: 11.125439071202795

R^2 Value:
Y1: 0.9082095235441174
Y2: 0.8768532339036744

   heat_load_predicted  cool_load_predicted
0            29.992706            31.434563
1            15.153985            17.576112
2             7.931516            12.273879
3            32.149334            32.919929
4            32.683549            34.157404

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 80:20

alpha: 0.5

Co-efficients of the trained model are:
[[-0.         -0.02773981  0.07885036 -0.01414729  2.90275383 -0.
   0.          0.34967997]
 [-0.         -0.02056791  0.06142306 -0.0110205   3.15008089  0.
   0.          0.12072629]]

Intercepts of the trained model are:
[2.05661548 3.81208171]

Mean Squared Error:
Y1: 17.255082722038456
Y2: 15.980295657187188

R^2 Value:
Y1: 0.8316947303505625
Y2: 0.8251522903143108

   heat_load_predicted  cool_load_predicted
0            28.565958            30.689990
1            31.524026            32.968771
2            14.744118            17.470942
3            14.191270            16.711443
4            29.818166            31.690942

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Train test split: 70:30

In [24]:
for alp in [0.001, 0.005, 0.01, 0.05, 0.1, 0.5]:
    lasso_reg_test_pred_df1 = lasso_reg_model(X, Y, split=0.3, alpha=alp)
    display(lasso_reg_test_pred_df1.head(5))
    print("-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")

Train-test split: 70:30

alpha: 0.001

Co-efficients of the trained model are:
[[-5.52727134e+01 -6.51835405e-02  4.97791306e-02 -9.09381158e-03
   4.53062888e+00  2.67165681e-03  1.94730148e+01  1.81328569e-01]
 [-5.91378761e+01 -6.21365823e-02  3.14178006e-02 -5.73950480e-03
   4.82920632e+00  1.12063435e-01  1.42250655e+01  4.94832358e-02]]

Intercepts of the trained model are:
[65.27084346 73.39333591]

Mean Squared Error:
Y1: 8.701616298017811
Y2: 10.12138819016973

R^2 Value:
Y1: 0.9154353389652553
Y2: 0.8897506521760656

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 160.14904170498085, tolerance: 5.525674548752326
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 100.77668587304652, tolerance: 4.929902593891992
  positive)

   heat_load_predicted  cool_load_predicted
0            22.926885            26.437760
1            30.853794            32.465661
2            11.671253            14.769464
3            15.688312            17.776616
4            32.399614            34.271722

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 70:30

alpha: 0.005

Co-efficients of the trained model are:
[[-2.30941899e+01 -2.03283787e-02  4.54086909e-02 -8.35996129e-03
   4.85600852e+00  6.22534618e-02  1.93711831e+01  8.56863157e-02]
 [-2.81577102e+01 -1.99570031e-02  2.86758617e-02 -5.27936588e-03
   5.07151325e+00  1.55169798e-01  1.38171944e+01 -1.66300929e-02]]

Intercepts of the trained model are:
[10.14440467 20.92715236]

Mean Squared Error:
Y1: 8.944461851485485
Y2: 10.85660601918103

R^2 Value:
Y1: 0.9128625500838802
Y2: 0.8812908452862702

   heat_load_predicted  cool_load_predicted
0            16.579734            18.483798
1            12.558884            15.307483
2            15.417696            17.723662
3            12.214759            15.061896
4            39.070635            38.927059

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 70:30

alpha: 0.01

Co-efficients of the trained model are:
[[-0.00000000e+00  2.30337993e-02  3.00022304e-02 -4.66087779e-03
   5.87038345e+00 -4.59354363e-02  1.84108972e+01  2.07696875e-01]
 [-0.00000000e+00  3.24658585e-02  9.85104714e-03 -9.26616517e-04
   6.22290360e+00  5.95830309e-02  1.36359665e+01  4.58384076e-02]]

Intercepts of the trained model are:
[-37.29501521 -36.24372182]

Mean Squared Error:
Y1: 8.927481196839075
Y2: 10.524646773690273

R^2 Value:
Y1: 0.9141623381597581
Y2: 0.8849930212022646

   heat_load_predicted  cool_load_predicted
0            15.661983            17.755965
1            38.555509            38.566615
2            11.555031            14.733389
3            27.342094            30.814291
4            32.911299            34.845497

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 70:30

alpha: 0.05

Co-efficients of the trained model are:
[[-0.00000000e+00  1.10008577e-02  4.27963974e-02 -4.88840729e-03
   5.11067680e+00 -0.00000000e+00  1.74289292e+01  1.66699612e-01]
 [-0.00000000e+00  1.08548625e-02  3.35927626e-02 -0.00000000e+00
   4.97845598e+00  2.08296772e-01  1.31166034e+01  4.69993532e-03]]

Intercepts of the trained model are:
[-29.2004991 -23.4450198]

Mean Squared Error:
Y1: 9.318360507382042
Y2: 9.995593886993632

R^2 Value:
Y1: 0.9079072339523862
Y2: 0.8860206510959872

   heat_load_predicted  cool_load_predicted
0            16.733051            18.591074
1            13.279052            15.754867
2            11.982745            14.668046
3            19.369117            20.977304
4            12.967379            15.955910

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 70:30

alpha: 0.1

Co-efficients of the trained model are:
[[-0.00000000e+00 -0.00000000e+00  5.07164962e-02 -5.65476404e-03
   4.54615651e+00  0.00000000e+00  1.38582324e+01  2.69607416e-01]
 [-0.00000000e+00  8.96990811e-03  3.24352212e-02 -0.00000000e+00
   4.96430471e+00  0.00000000e+00  8.19378818e+00  6.54560193e-02]]

Intercepts of the trained model are:
[-20.76855973 -19.91510863]

Mean Squared Error:
Y1: 9.661086640697741
Y2: 11.510585202219252

R^2 Value:
Y1: 0.90281098885731
Y2: 0.8709013147997353

   heat_load_predicted  cool_load_predicted
0            14.053090            16.782580
1            31.189085            33.035438
2            30.154343            31.361724
3            14.459463            17.582363
4            15.428485            17.128135

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 70:30

alpha: 0.5

Co-efficients of the trained model are:
[[-0.         -0.03348148  0.08563986 -0.01641183  2.46520584 -0.
   0.          0.48525415]
 [-0.         -0.02987025  0.071578   -0.01371704  2.52234984  0.
   0.          0.19410687]]

Intercepts of the trained model are:
[ 6.03497545 10.43753901]

Mean Squared Error:
Y1: 16.787585129810363
Y2: 14.50736044349857

R^2 Value:
Y1: 0.8310138776972316
Y2: 0.8332157691437629

   heat_load_predicted  cool_load_predicted
0            35.287227            36.660822
1            14.832519            17.128719
2             9.543116            13.480879
3            30.175705            32.573463
4            14.039893            16.300986

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Train test split: 60:40

In [25]:
for alp in [0.001, 0.005, 0.01, 0.05, 0.1, 0.5]:
    lasso_reg_test_pred_df1 = lasso_reg_model(X, Y, split=0.4, alpha=alp)
    display(lasso_reg_test_pred_df1.head(5))
    print("-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")

Train-test split: 60:40

alpha: 0.001

Co-efficients of the trained model are:
[[-4.07916120e+01 -4.80963574e-02  5.16254496e-02 -6.67118488e-03
   4.53110771e+00 -1.49329620e-03  2.01732835e+01  3.21165456e-01]
 [-4.53442334e+01 -5.08548743e-02  3.98272912e-02 -5.14659388e-03
   4.49409820e+00  1.97235601e-01  1.43896419e+01  1.40005023e-01]]

Intercepts of the trained model are:
[41.05373488 53.55066629]

Mean Squared Error:
Y1: 9.029798454565585
Y2: 10.479952205067777

R^2 Value:
Y1: 0.9105990684319226
Y2: 0.8828744355769782

   heat_load_predicted  cool_load_predicted
0            31.005068            33.273278
1            16.241095            17.964022
2            27.225938            29.794017
3            29.289287            32.204983
4             7.886302            11.912382

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 60:40

alpha: 0.005

Co-efficients of the trained model are:
[[-1.47167596e+01  9.71929191e-04  3.44935126e-02 -5.27254654e-03
   5.57930749e+00  9.48602599e-02  1.95235826e+01  2.55102087e-01]
 [-1.90819336e+01  4.81547869e-03  1.53499248e-02 -1.31631851e-03
   5.98094355e+00  3.00729981e-01  1.42560480e+01  8.23567775e-02]]

Intercepts of the trained model are:
[-12.09025279  -4.65203903]

Mean Squared Error:
Y1: 9.095959045703609
Y2: 10.958005089829818

R^2 Value:
Y1: 0.9105275034943695
Y2: 0.8813971992064712

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 78.00518665470554, tolerance: 4.676455139217392
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 87.79049563083663, tolerance: 4.250053377826085
  positive)

   heat_load_predicted  cool_load_predicted
0            13.264790            15.886407
1            19.376966            20.245578
2            33.360116            34.856079
3            16.477908            18.927004
4            11.086808            15.198278

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 60:40

alpha: 0.01

Co-efficients of the trained model are:
[[-0.00000000e+00  1.67377423e-02  3.35531394e-02 -5.67967612e-03
   5.41374183e+00 -1.28112269e-01  1.92834476e+01  1.86399512e-01]
 [-0.00000000e+00  1.83577856e-02  2.16123201e-02 -3.26191171e-03
   5.33384651e+00  0.00000000e+00  1.36728423e+01  2.30780967e-02]]

Intercepts of the trained model are:
[-31.72284654 -25.52396147]

Mean Squared Error:
Y1: 8.84019442714761
Y2: 9.421828958019535

R^2 Value:
Y1: 0.910430283044582
Y2: 0.8893270543082852

   heat_load_predicted  cool_load_predicted
0            20.225277            20.794575
1            27.629360            30.101113
2            15.355035            17.672068
3            30.708277            32.175117
4             7.650586            11.750228

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 60:40

alpha: 0.05

Co-efficients of the trained model are:
[[-0.          0.01774839  0.03531201 -0.          5.6493771  -0.0529961
  16.46190395  0.21673675]
 [-0.          0.01870061  0.02448137 -0.          5.43438382  0.05747166
  11.71138832  0.09184752]]

Intercepts of the trained model are:
[-34.77487523 -27.59465584]

Mean Squared Error:
Y1: 9.661446465781982
Y2: 10.88449324891217

R^2 Value:
Y1: 0.9059137936957011
Y2: 0.8779549701488634

   heat_load_predicted  cool_load_predicted
0            14.789578            17.459774
1            30.979550            32.156367
2            14.167682            16.652607
3            26.040979            28.642950
4            35.825477            36.388784

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 60:40

alpha: 0.1

Co-efficients of the trained model are:
[[-0.00000000e+00  6.37716689e-03  4.40242835e-02 -0.00000000e+00
   5.16099124e+00 -0.00000000e+00  1.37249966e+01  2.59459926e-01]
 [-0.00000000e+00  1.34241060e-02  2.59826823e-02 -0.00000000e+00
   5.34765126e+00  1.77175842e-02  9.20508319e+00  9.55764265e-02]]

Intercepts of the trained model are:
[-26.98011569 -23.20953586]

Mean Squared Error:
Y1: 9.041812319207482
Y2: 10.78939173393956

R^2 Value:
Y1: 0.9147896479782112
Y2: 0.8858942157932952

   heat_load_predicted  cool_load_predicted
0            37.450892            37.792054
1             9.948546            14.049207
2            14.874091            17.429238
3            27.002974            29.838872
4            10.713128            13.800949

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Train-test split: 60:40

alpha: 0.5

Co-efficients of the trained model are:
[[-0.         -0.01788382  0.0730785  -0.01450908  3.27988854 -0.
   0.          0.50940569]
 [-0.         -0.01201132  0.05745995 -0.01140815  3.4810079   0.
   0.          0.25989703]]

Intercepts of the trained model are:
[-5.05961374 -2.66272039]

Mean Squared Error:
Y1: 18.32936941539604
Y2: 16.840600686494803

R^2 Value:
Y1: 0.8240431386303142
Y2: 0.8185355426932468

   heat_load_predicted  cool_load_predicted
0            28.597840            31.231292
1            16.303378            18.336784
2            14.951108            17.223292
3            12.913485            16.183704
4            30.126057            32.010983

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------